body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(132, 25, 11);
    background: linear-gradient(0deg, rgba(132, 25, 11, 1) 25%, rgba(179, 49, 20, 1) 75%);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header .container {
    margin: 0 auto;
}

header p {
    color: #F9F215;
    font-weight: bold;
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto 5rem auto;
    display: flex;
    justify-content: space-between;
}

.container .navegacao ul {
    display: flex;
}

.container .navegacao ul li {
    margin: 0 1rem;
    list-style: none;
}

.container .navegacao ul li a {
    text-decoration: none;
    color: #B33114;
}

.section {
    margin-bottom: 40px;
}

.about-section img {
    width: 100%
}

.about-section p {
    text-align: justify;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    background-color: #fff;
}

.product img {
    max-width: 100%;
    height: 190px;
}

.add-to-cart {
    background-color: #B51024;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}